[2021-07-30 13:05] kaiwalyakoparkar opened #2 "Time and Space complexity priority"
Hey, The syllabus is pretty neat but I had one suggestion. Can we shift `Time and Space complexity` lectures before `Array` lectures. As in array, we have sorting techniques. It would be good if we are taught `Complexities` beforehand so that it gets more clearer. What do you think?

[2021-07-30 13:57] kunal-kushwaha commented on #2
Nope, the order is fine. Trust me.

[2021-07-30 13:57] #2 closed

[2021-07-30 16:19] kaiwalyakoparkar commented on #2
No problem @kunal-kushwaha I trust you :+1: :heart:

[2021-07-31 04:41] iamsackr opened #6 "DSA Bootcamp"

[2021-07-31 04:43] #6 closed

[2021-07-31 12:29] arpitghura opened #9 "What does the "above" meant or it should be remove"
"Solving the above math problems in code" under Functions in SYLLABUS.md

then what does "above" mean in this.

I thought this should be removed and change it to "Solving the math problems in code"

[2021-07-31 12:30] kunal-kushwaha commented on #9
above means above

[2021-07-31 12:30] #9 closed

[2021-08-06 05:44] PurneswarPrasad opened #51 "Error in wording in Git_GitHub_101 notes"
This notes has been uploaded by @kunal-bhadra
Do change the  line to "all the commits or changes **after** this ...."
![Screenshot (36)](https://user-images.githubusercontent.com/42652270/128461933-ea1d00f0-8f3a-4dd5-9105-83fc791af157.png)

[2021-08-06 06:38] kunal-bhadra commented on #51
I see. @avanish460 has an open PR with a modified version of the file, please write to him as well

[2021-08-06 15:54] ANURAG-PATHAK commented on #51
I have added a new pdf file after editing and replacing the old pdf file

[2021-08-06 16:34] PurneswarPrasad commented on #51
Great! Closing this issue.

[2021-08-06 16:34] #51 closed

[2021-08-07 06:47] kunal-kushwaha opened #55 "Syllabus Progress Tracker"
Check https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/SYLLABUS.md for progress.

[2021-08-07 07:23] avanish460 commented on #55
what is the issue with it

[2021-08-07 07:24] kunal-kushwaha commented on #55
no issue just for me to track progress of content with check marks.

[2021-08-07 07:26] avanish460 commented on #55
okay

[2021-08-07 18:22] thatbeautifuldream opened #60 "Conditions and Loops Assignment pdf (repeated problem)corrections"
-18. Volume of Prism
+18. Volume of Pyramid
![Screenshot 2021-08-07 at 11 51 33 PM](https://user-images.githubusercontent.com/28717686/128610330-03c61e2c-d3b7-4ed5-9771-bfaeb2ced890.png)

[2021-08-08 02:19] avanish460 commented on #60
okay don't worry I am going to remove it out and add a volume of the pyramid in that place

[2021-08-08 03:22] avanish460 commented on #60
hey @thatbeautifuldream I changed the prism to pyramid so now you can close this issue

[2021-08-08 03:24] #60 closed

[2021-08-11 05:04] chetan-2002 opened #76 "Some files not visible."
Hey Kunal , When I am opening arrays.md and function.md file in the assignments folder, there is no content showing up inside it. If those files are still under work, please let us know, I will close this issue.

[2021-08-11 05:08] Seranya1 commented on #76
The questions have not been added yet...just the files have been created @chetan-2002

[2021-08-11 07:07] Kartik125 opened #77 "Arrays assignment"
Array assignment is not visible.

[2021-08-11 07:10] bhagatpratham opened #78 "Function Assignments not visible"

[2021-08-11 07:12] #78 closed

[2021-08-11 07:17] chetan-2002 commented on #77
Hey @Kartik125 , I just opened a similar issue . It's better to have a single issue for a single problem.If you want you can close down this issue :)

[2021-08-11 07:24] RakeshPotnuru commented on #76
Kunal created a channel on discord called **assignment-forming-team**, so the DSA mentors will add questions. So, yes those are still under work. You can check [pull requests](https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/pulls).

[2021-08-11 07:27] chetan-2002 commented on #76
Ok , i was not aware of that .So closing this issue now.

[2021-08-11 07:27] #76 closed

[2021-08-11 07:30] RakeshPotnuru commented on #77
@Kartik125
This question has already been answered [here](https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/issues/76)

[2021-08-11 07:51] #77 closed

[2021-08-11 07:51] Kartik125 commented on #77
okay thanks

[2021-08-11 16:19] vinay9354 opened #84 "bug in calculator code"
i found a small bug in calculator code with a small change in ans output
(first do an arithmetic operation with any operator and then in next step give an invalid operator  the getting the output as invalid operation and the ans of before arithmetic operation i mean getting output both the operations again)
changed code:
package com.coffee;

import java.util.Scanner;

public class SimpleCalci {

[2021-08-11 17:27] imminal35 commented on #84
Hey @vinay9354 , few small observations:
1. Multiplication symbol is missing from two places in this code.
2. Description is not clear . Please elaborate why its marked as issue. (if possible)

[2021-08-12 00:47] #84 closed

[2021-08-14 15:12] TaherPatan opened #99 "Order the assignments in a numbered way according to the order of the videos in the DSA Playlist."
Please order the assignments in the order of the videos in the DSA playlist as when the number of videos increase in the playlist and the number of assignments increase this lack of order would cause issues and confusion while finding the assignments, a proper order and format would help in ease of access and understanding of the content in a better way.

[2021-08-14 16:57] RAMESSESII2 commented on #99
Github arranges files lexicographically. In that case, we can just rename the assignments adding numbers so that they can be arranged in the more facilitating way.

[2021-08-14 17:11] imminal35 commented on #99
I think, its a good idea.
I have created one PR for this fix and added numbers as index.
Hey @kunal-kushwaha.  if you think this should be followed , Please review this PR.

PR # ---- added numbers as index #100

[2021-08-14 17:15] RAMESSESII2 commented on #99
@imminal35 LOL I should've told you I was already working on it.

[2021-08-14 17:17] imminal35 commented on #99
Oops, Same work !!!

[2021-08-14 17:20] kunal-kushwaha commented on #99
merged

[2021-08-14 17:20] #99 closed

[2021-08-17 05:25] rakshaa2000 opened #112 "[Enhancement] Add popular interview questions related to the topic."
We could have a doc or a markdown file where people who attended interviews could post the questions they encountered which uses or is an application of the particular topic.

[2021-08-17 05:49] ANURAG-PATHAK opened #113 "[ feature request ] Wanted a checklist kind of app as a chrome extension where we can keep track of solved and unsolved assignments question"

[2021-08-17 05:58] #113 closed

[2021-08-17 06:02] ANURAG-PATHAK opened #114 "[ feature request ] want a checlist kind of app where we can keep a track of all solved and unsolved assignment questions"
Anyone who is willing to help me is always welcome

[2021-08-17 06:10] RAMESSESII2 commented on #114
A PWA would be nice. What stacks are you thinking of? I can help you with the backend using Spring Boot.

[2021-08-17 06:33] ANURAG-PATHAK commented on #114
I am planning to make a PWA using react js

[2021-08-17 06:43] avanish460 commented on #114
hey, @ANURAG-PATHAK  I am new in react js so can I join you.

[2021-08-17 06:43] kunal-kushwaha commented on #114
@ANURAG-PATHAK go ahead

[2021-08-17 06:44] kunal-kushwaha commented on #112
@rakshaa2000 work in progress from my side will be announced soon. Thank You!

[2021-08-17 06:44] #112 closed

[2021-08-17 06:45] ANURAG-PATHAK commented on #114
yes of course I am also not a pro we can learn together

[2021-08-17 06:51] avanish460 commented on #114
okay

[2021-08-17 15:55] RakeshPotnuru opened #117 "Condition missing in Infinite Array problem"
In finding the position of an element in an [infinite array](https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/lectures/10-binary%20search/code/src/com/kunal/InfiniteArray.java) if the target element is at `0`th or `1`st position it will return `-1`.

So we should add a condition something like this
[code]

or simply

`return target == arr[start] ? start: target == arr[end] ? end: -1;`

[2021-08-17 17:33] Rajulmahto21 commented on #114
Hey , a simple solution for this can be by exploiting the .md file syntax  that github has provided us making a check box using
- [ ]  for unchecked and - [x] for checked , just by editing the .md file of each assignment ,this will save a lot of time rather than getting redirected to any other stuff  also it will be personalized. Assign this to me and i can create a a nice " how to  use file " on

[2021-08-18 17:17] Soumit915 commented on #114
I am willing to help to make the app by 2-3 days.
Can i join?
We can start it asap.
If Yes, please share the details of the design, if you have thought about it yet. Or else we can discuss it and make a design asap depending on the requirements.

[2021-08-18 17:51] ANURAG-PATHAK commented on #114
mail me on  pathakanurag605@gmail.com

[2021-08-20 04:47] Suvradippaul opened #131 "Out of index exception in infiniteArray.java"
### In [InfiniteArray.java](https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/lectures/10-binary%20search/code/src/com/kunal/InfiniteArray.java), in [line number 21](https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/da08c80e694f5ee85ba2d37648cd5da77056582c/lectures/10-binary%20search/code/src/com/kunal/InfiniteArray.java#L21), 'end' achieves such value which the array doesn't re

[2021-08-20 05:23] RAMESSESII2 commented on #131
Hey @Suvradippaul, your query is genuine. Theoretically, it's an infinite array, so an array index out of bound shouldn't be a question.
Although since we're hardcoding the array in the implementation, you can put a simple check condition after line 21->
**end = min(end, arr.length()-1);**
and that would suffice.

[2021-08-20 08:10] SuyashSonawane opened #132 "Adding Feature to help members find resources easily"
## Feature to help the community find resources from this repository easily
Hi, @kunal-kushwaha thanks for this great initiative 💯
I have an idea to create a `gh-pages` branch that will host a simple UI wherein members can find links to these resources easily and in a folder structure format, it will render the `Markdown` using `React` and will use `GitHub API` to fetch changes so no need to build

[2021-08-20 08:43] ANURAG-PATHAK commented on #132
may I join you bro in this initiative?
I am pretty new, so I can help you with some basic stuff docs, HTML, markdown, etc.

[2021-08-20 10:08] avanish460 commented on #131
hey, @Suvradippaul I solved your problem. you can see in pull request

[2021-08-20 10:38] Suvradippaul commented on #131
Thank you both of you for clarification..

[2021-08-20 10:38] #131 closed

[2021-08-20 15:41] #117 closed

[2021-08-21 06:22] PratikDey commented on #132
@SuyashSonawane I can contribute to this as well, let me know if you'd want to collaborate.

[2021-08-21 07:52] SuyashSonawane commented on #132
Yes! once we get approval, we can start the planning

[2021-08-21 07:55] ANURAG-PATHAK commented on #132
I got the approval in #114

[2021-08-21 13:52] PratikDey commented on #132
We can start working then @ANURAG-PATHAK

[2021-08-21 14:08] SuyashSonawane commented on #132
I think #114 servers different purpose than this one, you can go ahead 👍

[2021-08-21 18:17] PratikDey commented on #132
@SuyashSonawane dm me on twitter

[2021-08-21 19:44] AJFAS commented on #132
Newbie here ; I would like to contribute on this feature with a little guidance plz . @SuyashSonawane

[2021-08-22 08:40] SHARAD-AADE commented on #55
Nice

[2021-08-22 18:14] ajeetmalviya commented on #114
Hi Anurag,
I also want to join if you don't mind. I am a working professional but I never worked on react. It will be good to know the new technology.

[2021-08-23 04:41] maheshvpawar opened #140 "Adding Assignments shortcut in README.md"
![image](https://user-images.githubusercontent.com/32674489/130390894-ab2e29c2-0311-458f-bea9-e6831ce7879d.png)
Like these links, there should have assignments link.

[2021-08-23 07:14] ayushsom1 commented on #140
Does the link to the assignment files in the repository suffice?

[2021-08-23 09:20] ayushsom1 commented on #140
Hello sir I would like to know if the work I have done on this issue is sufficient or is there anything else I should do.

[2021-08-23 09:57] Akashnani-star opened #143 "Issue In SmallestLetter.java code"
**The Output Goes Wrong If We Change the condition, even the both conditions used below means to be same**

[code]

This is case Check we are using in the SmallestLetter.java code

**If we Reverse the conditions checks like**
Instead of target < letters[mid] if we use target > letters[mid]
Then code will be

[code]

Now If we run the code with letters = { 'c', 'f', 'j' }
and target is 'c'
**It out

[2021-08-23 10:02] Akashnani-star commented on #132
Hi I also want to contribute will you please also share the work with me : ) @SuyashSonawane
I know HTML ,CSS ,JS

[2021-08-23 10:34] Akashnani-star commented on #143
**Solution for the issue**  :

if (target > letters[mid]) {
                start = mid + 1;
} else {
                end = mid - 1;
}
If we **use >=** inplace of > in this condition the above issue will be solved

[code]

[2021-08-23 10:34] #143 closed

[2021-08-23 10:38] kunal-kushwaha commented on #140
done

[2021-08-23 10:38] #140 closed

[2021-08-23 14:55] thisisamank commented on #114
Hey In case you need someone to make a flutter app, I'm in

[2021-08-23 19:45] kunal-kushwaha commented on #114
I will soon share about it on Discord.

[2021-08-24 14:54] hossainchisty commented on #55
Really helpful!

[2021-08-24 15:51] vedantsaraf2002 commented on #114
Yes, please if anyone wants to make an app an app using flutter, count me in!

[2021-08-24 16:28] thisisamank opened #151 "[Request for an app] Requirements for community classroom app."
# Community Classroom app

## Goal

I went through the issues on DSA repository of community classroom and found some common ones, so planning to build a mobile app solving those issues. Please go through it and comment down what more requirements do you have.

## Requirements

### User app

1. Syllabus tracker:
   - syllabus tracker for all courses. As in when more courses will be added, the app

[2021-08-24 17:54] thisisamank commented on #114
Yeah sure, you can check out issue #151. If you are interested let me know.

[2021-08-24 18:10] vedantsaraf2002 commented on #114
Yes, I am interested in this idea of your community classroom app using Flutter. Let's do this!

[2021-08-24 18:30] thisisamank commented on #114
Cool, let's see what Kunal bhaiya says. Then we can start.

On Tue, Aug 24, 2021, 11:40 PM Vedant Saraf ***@***.***>
wrote:

[2021-08-25 03:00] Gauravkhetwal commented on #151
hy i would like to work on this. I am completely new to it. But want to contribute in the community.

[2021-08-25 05:51] PushkarAdhyapak commented on #55
This is the best DSA Course ever.....

[2021-08-25 07:16] lazyperfectionist commented on #55
Yes I know.
This is the BEST.

On Wed, Aug 25, 2021, 11:22 PushkarAdhyapak ***@***.***>
wrote:

[2021-08-25 10:00] piyush362 commented on #151
Hey, I would also like to work in this. I am newbie here. But wants to contribute in the community.

[2021-08-25 10:04] piyush362 commented on #151
[ Feature request ] Want a bot that remind me gradually that hey " Piyush" you've to revise this topic that you cover last week.
So that we don't forget the things that we learns few week ago.

[2021-08-25 10:09] kunal-kushwaha commented on #114
duplicate issue

[2021-08-25 10:09] #114 closed

[2021-08-25 10:10] kunal-kushwaha commented on #151
hey @thisisamank, please open similar issue here: https://github.com/commclassroom/mobileapp
I have made you maintainer of repository. Please use github project board to create tasks and create issues for each task. Let me know who else will be working on this with you, I'll invite them to be maintainer too. for starters you can have a basic app ready.

[2021-08-25 10:10] #151 closed

[2021-08-25 10:14] 2024-SANDHYA opened #152 "Adding solutions to the assignments"
I would like to add the solutions to all the assignments, so people can refer them in case they get stuck somewhere in between.

[2021-08-25 12:32] rhythmbhandari444 commented on #152
It would be really helpfull

[2021-08-25 15:01] abhay2002-pro commented on #132
Hi, I would like contribute to this initiative. I am a beginner but I will try my level best.

[2021-08-27 19:46] geeky01adarsh opened #157 "Adding Video Links in the syllabus"
Hey @kunal-kushwaha, we can add video links to the syllabus so that if someone needs to learn some specific topic or if needs to revise any specific topic then he/she may directly go through it.

[2021-08-28 03:03] dipankar-cmd commented on #152
Hey, I have a repository for the solutions of the assignments. It's a new repo and has like 8/9 solutions just the basic ones. I will upload other ones by the time.

Link to the repo: [https://github.com/dipankar-cmd/Commclassroom-DR](url)

ps: You should make your repo like that and add assignments and notes to it. That's not necessary but still, it helps.

[2021-08-28 08:27] Anuragmaurya-code opened #159 "To arrange your lectures properly"
If you want to arrange lectures or assignment sequentially you can name the lecures with 01 instead of 1

[2021-08-28 08:40] iwasifirshad commented on #55
@deeqakkk, This may help:
https://stackoverflow.com/questions/47344571/how-to-draw-checkbox-or-tick-mark-in-github-markdown-table/55523035

[2021-08-28 08:44] #159 closed

[2021-08-28 08:44] #157 closed

[2021-08-28 13:14] Deek9399 opened #160 "Question is not clear"
Question number 26 under Intermediate java program of Conditionals-loops assignment is little unclear to me.

Kunal is allowed to go out with his friends only on the even days of a given month. Write a program to check if he can go out in the month of August.

Does it mean Kunal is allowed to go out only in the months with even number of days?

[2021-08-28 17:45] kunal-kushwaha commented on #160
please ask in discord

[2021-08-28 17:45] #160 closed

[2021-08-28 17:46] kunal-kushwaha commented on #152
I'll start a repo for this soon and make announcement

[2021-08-28 17:46] #152 closed

[2021-08-28 17:46] kunal-kushwaha commented on #132
We're making a website, more info on discord. you can contribute there

[2021-08-28 17:46] #132 closed

[2021-08-28 23:09] tuba-mouqeem commented on #55
Excited to learn more

[2021-08-28 23:12] Harry629 commented on #55
View it on github

On Sun, Aug 29, 2021, 4:39 AM tuba-mouqeem ***@***.***> wrote:

[2021-08-30 08:15] Kumarsanjeet1 commented on #55
@kunal-kushwaha bhaiya your content is amazing. I am a second year student CSE and when have i  studied from your contents then i left my online classes and now i am studying from your content.
Huge respect++ of your works.
A little bit Thank you @kunal-kushwaha  bhaiya ....!

[2021-08-31 06:46] anaskhan28 opened #168 "assignments Solution"
Some people cannot solve all questions and they google if they didn't find it most skip the question if we provide a folder of assignment solutions where people can put their solutions to check if write or not. Add them in it for future reference.

[2021-08-31 09:01] subhiarjaria18 opened #169 "assignment solutions"
there need to be an assignment solution folder for it will give clarity of the answers.

[2021-08-31 09:17] akashqumar opened #170 "bootcamp"

[2021-08-31 13:20] Kartik125 commented on #169
this type of spoonfeeding will not be allowed you can find the solutions on your own.

[2021-08-31 13:23] Kartik125 commented on #169
@subhiarjaria18 at least try everything, What will you do if Kunal will do everything?

[2021-08-31 13:28] Shivshankar158 commented on #169
Unsubscribe me from this thread

On Tue 31 Aug, 2021, 6:53 PM Kartikey Dubey, ***@***.***>
wrote:

[2021-08-31 14:01] chetan-2002 commented on #169
Hey  @subhiarjaria18, if you have any doubts regarding any question you can ask your question on the discord server.Cheers!

[2021-08-31 16:11] thatbeautifuldream commented on #168
It's highly recommend to brainstorm over the questions, and get close to a working solution. At least if you follow the course holistically from the start you'll definatly be able to come up with either a brute force or a solution intuitively on pen and paper. I maintain my solutions maybe some are rather unoptimised for now, will keep on optimising as I learn myself. I maintain a repository for m

[2021-08-31 22:15] geeky01adarsh commented on #168
You can find the solutions in Discuss section of every question. Btw, I am also maintaining 2 repos for solutions.
[Solutions of leetcode problems in C++](https://github.com/geeky01adarsh/DSA-Interview-Questions)
[Solution of assignments in JAVA](https://github.com/rishabhrathore055/DSA_in_java)

[2021-08-31 22:17] geeky01adarsh commented on #170
@akashqumar please don't spam here. Consider opening an issue only when you have a genuine doubt or suggestion or you know any mistake/bug.
Thank You!

[2021-09-01 05:28] AAYUSH-GUPTA-coder commented on #169
Hey @subhiarjaria18, if you have any doubt or face any problem you can also go to Discuss section of Leetcode. It will be very beneficial apart from that Community Classroom discord server is always there to help you. Try to challenge yourself. Cheers!

[2021-09-01 05:58] subhiarjaria18 commented on #169
Haven't asked for spoon feeding don't take it into different sense..just asked for some sort of discussion forum where everybody discusses the approach of the solution to the problems... haven't mentioned that I want a solution to the questions by his end.

[2021-09-01 07:36] thatbeautifuldream commented on #169
Saw the same type of issue else, where.

It's highly recommend to brainstorm over the questions, and get close to a working solution. At least if you follow the course holistically from the start you'll definatly be able to come up with either a brute force or a solution intuitively on pen and paper. I maintain my solutions maybe some are rather unoptimised for now, will keep on optimising as I le

[2021-09-01 07:48] subhiarjaria18 commented on #169
Thanks

[2021-09-01 14:47] RakeshPotnuru opened #171 "TwoSum before 3Sum"
It would be better to add leetcode's [TwoSum](https://leetcode.com/problems/two-sum/) problem before 3Sum in [sorting assignment](https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/assignments/7-sorting.md) problems for better understanding.

[2021-09-01 15:03] PurneswarPrasad commented on #171
Good suggestion, there people can learn about 2 pointer method.

[2021-09-01 16:48] zeel-codder opened #172 "If it's possible, then please add all the must-do questions in the leetcode of all topics of this course 🙏🙏."

[2021-09-01 17:08] Kasera-Manish commented on #172
Hey Folk you issue is good but one thing I want to say that all the assignment are great so do all the assignment question and take your time folk.

[2021-09-01 17:09] Kasera-Manish commented on #170
What's the issue @akashqumar ??

[2021-09-02 04:13] kaiwalyakoparkar commented on #170
@kunal-kushwaha kindly close this issue :slightly_smiling_face:

[2021-09-02 13:10] Arnav-Barman commented on #171
The TwoSum problem is already mentioned in the array assignments.

[2021-09-02 14:41] Arnav-Barman commented on #171
@RakeshPotnuru
I find that the TwoSum question you've mentioned is the exact same question as the [21st question ](https://leetcode.com/problems/two-sum/)in the [arrays easy assignment ](https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/assignments/5-arrays.md). Please have a look once. Though I think the question you are talking about is the [TwoSum II](https://leetcode.com/problems/t

[2021-09-02 15:19] RakeshPotnuru commented on #171
@Arnav-Barman
Oh! Yes, but it would be better if it was in the sorting section. Anyways I am closing the issue now.

[2021-09-02 15:19] #171 closed

[2021-09-03 11:36] #168 closed

[2021-09-03 22:02] adityapatidar12 opened #182 "DSA wth Java"

[2021-09-04 04:35] avanish460 commented on #182
What is this mean @adityapatidar12

[2021-09-04 04:57] #182 closed

[2021-09-04 12:53] thatbeautifuldream commented on #169
Close the issue if you got what you wanted.

[2021-09-05 05:31] Danshaikh opened #186 "DSA bootcamp"

[2021-09-05 05:39] PurneswarPrasad commented on #186
Please don't spam issues with empty ones. Hope you understand.

[2021-09-07 06:24] thatbeautifuldream commented on #186
close the issue if there's nothing to ask

[2021-09-07 20:45] theMillenniumFalcon commented on #172
well said

[2021-09-07 21:37] #186 closed

[2021-09-07 21:37] #172 closed

[2021-09-07 21:37] kunal-kushwaha commented on #172
okay

[2021-09-07 21:37] #170 closed

[2021-09-07 21:37] #169 closed

[2021-09-08 02:56] biradar73383 commented on #170
suraj73383biradar@gmail.com im getting lots of emails please fix it

[2021-09-08 02:57] biradar73383 commented on #170
Im getting lots of emails

[2021-09-08 09:12] KaushikKC commented on #55
It's really amazing.. It helps me lot!

[2021-09-08 10:34] saurav935 opened #195 "4 sum question page is showing not found error."

[2021-09-08 10:45] VishwaGauravIn commented on #195
Solved, Check now.

[2021-09-08 10:45] VishwaGauravIn commented on #195
Solved, I think it will get updated shortly. Btw here is the link :- https://leetcode.com/problems/4sum/description/

[2021-09-08 13:32] saurav935 commented on #195
Hey, thanks for the link, but the link mentioned in the assignment page is still not working.

[2021-09-08 13:43] VishwaGauravIn commented on #195
You're Welcome ,
I have created a pull request, it will be approved soon.

[2021-09-08 15:37] saurav935 commented on #195
👍

[2021-09-09 12:24] #195 closed

[2021-09-09 20:33] Userismesuraj opened #209 "One Problem is added twice in String Assignment"
The **"Reverse Word in a String"** Question is added twice in **String assignment**

[2021-09-10 02:10] #209 closed

[2021-09-10 14:17] nikhilxifer commented on #55
Best DSA course I have seen till now🔥🔥🔥

[2021-09-10 14:23] lokicodedaily commented on #55
ufff.. man of his words

[2021-09-10 14:31] Arijit-Kuamr-Pandab commented on #55
Excited to learn more. This is the best DSA course I have seen till now. Thank you @kunal-kushwaha  for these amazing contents.

[2021-09-10 14:32] SaurabPoudel commented on #55
Kunal Bhaiya! All the best!

[2021-09-10 14:35] striver365 commented on #55
Thanks for this wonderful course. But Kunal if I may ask you, do you mind continuing on making courses on JAVA and not just stopping on DSA? Front-End and Backend with Spring, SpringBoot, Spring DATA JPA, JAVA essentials and so on.

I understand asking of you for more such courses for free sounds a bit greedy, but if I don't want to stop Learning, hope you understand.

[2021-09-10 14:36] Suggi96 commented on #55
So the entire course will be finished by sept 30th according to this time line? @kunal-kushwaha

[2021-09-10 14:43] mightypaasta commented on #55
guys i can't see the timeline of the upcoming lectures ?? HELP!!

[2021-09-10 14:44] mightypaasta commented on #55
i'm unable to find it where did you see it?

[2021-09-10 14:47] mightypaasta commented on #55
@kunal-kushwaha thanks alot :)

[2021-09-10 14:49] Jaihogggggg commented on #55
When will next class will come

[2021-09-10 14:59] abhiyanshusahu opened #214 "Make Folder for all Assignment Solution"
Please make a collection of all assignment solution for reference.if any one have problem they can see and solve them.

[2021-09-10 15:24] AsswinCR commented on #55
Well Structured. Thanks a lot! :)

[2021-09-10 15:29] aditya-2703 commented on #55
@kunal-kushwaha one of the best free dsa course I have ever seen. Apart from clearing concepts, The main thing which i got from this course is the confidence in attempting medium and hard questions on leetcode and also being able to solve. Thank you for such a great course. Excited for the upcoming.

[2021-09-10 15:36] iamsackr commented on #55
🔥🔥

[2021-09-10 15:37] git-bisht01 commented on #55
Thanks brother

[2021-09-10 16:07] Gurdeep475 commented on #214
Please put video solutions as well, if available.

[2021-09-10 16:14] Imraan002 commented on #55
Really Excited for the upcoming days

[2021-09-10 17:16] sohamsen91193 commented on #55
If God exists, then they may bless you.

[2021-09-10 17:20] jaybamroliya commented on #214
LeapYear Program
public class LeapYear {
    public static void main(String[] args) {

        int year=2016;
        if ((year%400==0) || (year%4==0 && year%100 !=0)){
            System.out.println("is a leapyear");
        }
        else {
            System.out.println("is not a leapyear");
        }

    }
}

[2021-09-10 17:38] karakib2k18 commented on #55
Thank you so much  !

[2021-09-10 17:45] VishwaGauravIn commented on #214
I tried to create it , I also created a Pull Request but it was closed so I think they don't wan't to create solution folder as of now.

[2021-09-10 17:46] kunal-kushwaha commented on #214
Why do you need assignment solutions when literally every question is on LeetCode and leetcode has solutions to all in the discussion tab?

[2021-09-10 17:46] #214 closed

[2021-09-10 17:49] VishwaGauravIn commented on #214
True , I think some viewers are new to leetcode and that is why they are are unable to find solutions.

[2021-09-10 17:51] jaybamroliya commented on #214
Sorry bro I delete the message my intension is only help but now I delete
the msg solution 🙏

On Fri, Sep 10, 2021, 11:16 PM Kunal Kushwaha ***@***.***>
wrote:

[2021-09-10 18:13] Jaihogggggg commented on #55
What is this is Kunal not making another videos?

On Fri, 10 Sep 2021, 23:08 Kazi Abdur Rakib ***@***.*** wrote:

[2021-09-10 18:14] kunal-kushwaha commented on #55
Do you have no patience?

[2021-09-10 18:43] DEBADYUTI-KARMAKAR commented on #55
Wonderful brother❤

[2021-09-10 19:26] Jaihogggggg commented on #55
Are nhi Kunal Bhaiya mai Puchrha tha ki next video Kav aaegi I really apologize for writing like this maine kuch galat tarike se leleiya Kunal Bahiya sorry principle mera Galat nhi tha bolne ka but thoda Galat tarike se likh diya sorry Kunal bhaiya ik bar or

[2021-09-11 03:45] avanish460 commented on #55
hey, @Jaihogggggg you need to keep patience otherwise you won't succeed.

[2021-09-11 07:02] error-magnate commented on #55
Support someone who is doing good for you in return of nothing. @kunal-kushwaha you dont need to rush, take your time properly to make good videos as well as give time to your other ideas as well.

[2021-09-11 15:47] yashy890 commented on #55
Thank you so much kunal, this is amazing!!

[2021-09-11 17:03] EshuDhiman commented on #55
i cant find the dates where are they

[2021-09-11 18:55] d-coder111 commented on #55
Thank u so much brother for this amazing learning opportunity.

[2021-09-12 04:29] MrKingshuk commented on #55
Same here, can anyone tell where to look for them?

[2021-09-12 13:49] harsha30ywffb commented on #55
Can u pls tell me how many days take to complete the total syllabus..

[2021-09-12 17:06] ajaysinghrana2020 commented on #55
fire !!!!!!

[2021-09-12 17:24] surajsharma14 opened #228 "Not opening"

[2021-09-12 17:33] nikhilreddydev commented on #228
can you elaborate more on what you meant by "not opening"?

[2021-09-12 17:40] suvampanigrahi123 commented on #55
It's an amazing course..!! ⚡♥

[2021-09-12 17:48] dipsonu10 commented on #55
In geeksforgeeks the harder problems are very difficult to understand and
Sure that this course will fill the gaps🙂

[2021-09-12 18:26] #228 closed

[2021-09-13 13:53] marooncoder09 opened #239 "Code of infinite sorted array is not working"
The code is only working for till index 4 i.e element 90 if you search for element 100 it will throw you an error
 Index 13 out of bounds for length 11

lectures/10-binary search/code/src/com/kunal/InfiniteArray.java  <------- location of the file

 The code

package com.kunal;
// https://www.geeksforgeeks.org/find-position-element-sorted-array-infinite-numbers/
public class InfiniteArray {
    pu

[2021-09-13 13:54] kunal-kushwaha commented on #239
why worry about this error when array is infinite.

[2021-09-13 13:54] #239 closed

[2021-09-13 14:23] VishwaGauravIn opened #245 "Renaming file from '5' to '05' so that it appears in correct order"

[2021-09-13 14:24] #245 closed

[2021-09-13 17:36] ssk090 opened #247 "Update "lectures" folder"
Rename files from '1' to '01' like that so it appears in correct order inside the 'lectures' folder.

[2021-09-13 18:22] Subhadiptech commented on #247
I think its not needed coz people can track it based on number labels

[2021-09-13 22:03] VishwaGauravIn commented on #247
@kunal-kushwaha Please do this if you want to , because 9 pull requests will be created if I try to do it 😅

[2021-09-14 02:28] darthwithap commented on #247
++

[2021-09-14 03:49] gaurtvin commented on #55
Hey, @kunal-kushwaha I just wanted to know that when Python and Machine Learning Bootcamp will start.

[2021-09-14 03:51] gaurtvin opened #250 "Query about Python and Machine Learning"
Hey, @kunal-kushwaha I just wanted to know that when Python and Machine Learning Bootcamp will start.

[2021-09-14 05:26] VishwaGauravIn commented on #250
This is not the place to ask question related to other topics. Use Discord or other platforms for this.

[2021-09-14 07:07] kunal-kushwaha commented on #250
when I have time

[2021-09-14 07:07] #250 closed

[2021-09-14 07:08] kunal-kushwaha commented on #247
okay i will

[2021-09-14 07:08] #247 closed

[2021-09-15 06:07] kunal-kushwaha opened #274 "Advanced concepts apart from interviews"
Check https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/SYLLABUS.md for progress.

[2021-09-15 13:40] MSuhasRao commented on #55
Is space and time complexity video added on YouTube, because I'm not able to see it.

[2021-09-15 15:58] imshubh06 commented on #55
No not uploaded yet

[2021-09-16 01:40] soumyajoydas01 opened #277 "JAVA throws a Array Index Out Of Bounds Exception - Infinite Array"
lectures/10-binary search/code/src/com/kunal/InfiniteArray.java
[Infinite Array](https://www.geeksforgeeks.org/find-position-element-sorted-array-infinite-numbers/)
If the target element is larger than the last element of the array then java throws an Array Index Out of Bounds Exception.
Example:
int[ ] arr = {5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 70, 75, 80}
target = 85;

OUTPUT:
Excepti

[2021-09-16 04:27] kunal-kushwaha commented on #277
please watch the video again. its Infinite Array then ignore this exception.

[2021-09-16 04:27] #277 closed

[2021-09-16 04:27] Userismesuraj commented on #277
You can check the **closed issue #131**

[2021-09-16 04:41] soumyajoydas01 commented on #277
Okay got the point. Thank you both of you for the clarification.

[2021-09-16 08:29] ArkajyotiChakraborty commented on #55
Not yet

Not yet but today it may according to the syllabus tracker

[2021-09-17 09:07] amraz12 opened #286 "D"

[2021-09-18 08:16] abrahamalen commented on #286
Didn't understand the issue?

[2021-09-18 19:51] soumyajoydas01 commented on #286
I think this issue is opened by mistake. It is his first issue.

[2021-09-19 06:21] Vedantpr0 opened #297 "Request"
Kunal bhaiya can we get guide like Competitive Programming & System Design Resources for full stack web development please 🥺

[2021-09-19 11:52] thatbeautifuldream commented on #286
don't add unnecessary issues without any context.

[2021-09-19 19:17] #286 closed

[2021-09-20 19:18] VishwaGauravIn commented on #297
He said, He may create if he get time and please create issue only related to this course/repository. Don't use it as DM. You can join Discord server or follow Kunal on Twitter for asking these stuffs. Hope you understand .
 # <img src="https://twemoji.twitter.com/content/dam/twemoji-twitter/Twitter_Social_Icon_Circle_Color.png.twimg.1920.png" width="28px">[ Kunal's Twitter](https://twitter.com/ku

[2021-09-21 04:25] kumawat-rohit commented on #55
Yes!

[2021-09-21 14:37] #297 closed

[2021-09-22 07:40] brockthe opened #307 "Java"

[2021-09-22 10:21] vipul-2003 opened #308 "program reallocation"
the first positive number question is currently in array folder but it should be in searching folder . In array ,  we are not aware of any searching  technique such as binary search or more . so please change its folder to  avoid  mistakes for the students ...

[2021-09-22 13:08] kunal-kushwaha commented on #308
make a pr

[2021-09-22 13:08] #307 closed

[2021-09-22 15:18] aayushb04 commented on #55
in syllabus it says maths for dsa is completed by 21 but it has not been uploaded  on youtube yet??

[2021-09-22 15:27] MrKingshuk commented on #55
How to see the dates for the course? Also, Kunal sir has said it in Discord and telegram he was busy that is why there was a delay.

[2021-09-22 15:28] kunal-kushwaha commented on #55
Its recorded, not uploaded yet. Will be done soon.

[2021-09-22 19:00] MrKingshuk commented on #55
Where can we see the dates on the above list??

[2021-09-22 19:46] aayushb04 commented on #55
It is mentioned with name of topic in syllabus only.

[2021-09-27 14:54] Honey-9 opened #323 "Update link"
One of my friend was seeing you git & github video. But when he clicks on the link of cheatsheat it does not work Please update it

[2021-09-27 19:49] omkarg01 commented on #323
It's working. Check out [here](https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/tree/main/lectures/01-git)

[2021-09-27 20:04] #323 closed

[2021-09-30 10:49] MSuhasRao commented on #55
@kunal-kushwaha sir by when we can expect this course to complete,because I can plan accordingly.Thank you for the course it's really helpful and made me clear many confusing concepts

[2021-09-30 17:17] nvshah opened #333 "Find Pivot with Duplicates | Rotated Sorted Array | Binary Search"
### Issue

 `findPivotWithDuplicates(int[] arr)` is breaking in 1 case :

### Explanation

_Test Cases_ -> (Non-rotated array with odd length)

eg :

1. [1, 2, 3]
2. [1, 2, 3, 4, 5]

[2021-09-30 17:36] nvshah commented on #333
Attempted solution :
https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/pull/334

[2021-09-30 17:45] nvshah commented on #333
Also 1 more que I've @kunal-kushwaha

[code]

I cannot makeup with any scenario depicting use of above condition i.e

Instead can't we replace that condition with simple one i.e :- (_I've tried & till I didn't find any case breaking with it_)

<br>
Thanks 👍

[2021-10-01 11:01] kunal-kushwaha commented on #333
let the students work it out

[2021-10-01 11:01] #333 closed

[2021-10-04 05:15] pdesai878 opened #346 "Solutions for time complexity assignment missing!"
Please upload solution for time complexity assignment.

[2021-10-04 06:17] ameeet opened #348 "Numbering of the questions in assignment."
Number the questions in the assignment, so it would me more easy to track how many questions are solved.

[2021-10-04 06:20] kunal-kushwaha commented on #346
do it yourself

[2021-10-04 06:20] #346 closed

[2021-10-04 06:20] #348 closed

[2021-10-04 10:46] Zafeer-R commented on #55
Is OOP video out because in one live stream of kunal sir he said that OOP video is currently uploading. Please update me on the same because I am unable to see it in playlist.
Also please correct me if I am wrong.
Thank you

[2021-10-05 13:53] RakeshPotnuru commented on #55
Not yet uploaded

[2021-10-06 05:48] Adarsh20711150 commented on #55
bhai please give us more and more language, as I am in my last year and expect it to complete as soon as possible.
Thank You Bhai.

[2021-10-06 17:56] atharvamogade opened #353 "[Feature] Add Tick Box before every LeetCode Link/Question in the assignments"
We can add a tick box before every link in the assignment, in which one can fork the repo and tick the question according to their completion/progress.

For example:

- [x] 1. Build Array from Permutation
- [x] 2. Concatenation of Array
- [x] 3. Running Sum of 1d Array
- [ ] 4. Richest Customer Wealth
- [ ] 5. Shuffle the Array

[2021-10-16 06:41] SarveshK16 opened #371 "Java"

[2021-10-16 16:34] #371 closed

[2021-10-19 13:18] yesdeepakmittal opened #378 "Correction in AlphabetCaseCheck Program"
In AlphabetCaseCheck program of this pdf https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/lectures/06-conditions-loops/Conditionals_And_Loops.pdf, please update
[code]
to
[code]
for ch == 'a', it is showing Uppercase.

[2021-10-20 04:32] #378 closed

[2021-10-20 08:13] driptanil opened #379 "Array Index Out of Bounds : InfiniteArray.java"
DSA-Bootcamp-Java/lectures/10-binary search/code/src/com/kunal/InfiniteArray.java

Please try input:
  1. `int[] arr = {4, 5, 7, 8, 10};`
  2. `int target = 7;`

Conditions for Error:
1. When the target lies in between index  (2 ^ ( interger of ( log2 ( length of array ) - 1 ) ) - 1 ) and index : ( 2 ^ ( interger of ( log2 ( length of array ) ) ) - 1 ) ...
2.  When length of array - 1 is not equal

[2021-10-20 08:40] driptanil commented on #379
Sorry, but mistake I closed the issue

[2021-10-20 08:43] driptanil commented on #379
Maybe I am wrong, I am just a 1st-year student and beginner to Data Structures and Algorithms
Please forgive me, if I am

[2021-10-20 08:44] #379 closed, assigned to nobody

[2021-10-21 14:44] SaunakNandi opened #382 "Important Algorithms"
I think Important algorithm apart from those mentioned under Graph should be listed down . If you give me the permission I can add those.

[2021-10-23 06:05] #382 closed, assigned to nobody

[2021-10-26 05:31] Vaibhavwani11 opened #393 "Bubble sort code not Present"
Bubble sort code is not added in 'sorting' folder.

[2021-10-27 12:50] #393 closed, assigned to nobody

[2021-10-31 16:44] kapil5849 commented on #152
I am new here. so, anyone can tell me how to submit solution.
if anyone free, please help me...

[2021-11-02 03:28] danger-ahead opened #408 "Some YouTube redirect links not working"
### Description of the issue:
In `SYLLABUS.md` under `Maths for DSA` section, `Complete Bitwise Operators` and `Range of numbers` redirects to an invalid URL in YouTube.

### Possible explanation:
This is caused due to the absence of Video ID in the URL.

[2021-11-02 04:53] kunal-kushwaha commented on #408
Please make a PR for such small changes

[2021-11-02 04:53] #408 closed

[2021-11-03 07:22] #55 closed

[2021-11-03 07:22] #274 closed

[2021-11-03 15:49] gouravofficial opened #412 "JAVA+DSA"

[2021-11-04 19:27] #412 closed

[2021-11-06 14:38] ShaileshKumar007 opened #418 "Kunal's Instagram link not working (in ReadMe.md)"
In Readme.md, Kunal's Instagram link is not working, as Kunal deleted his Instagram.

[2021-11-06 14:39] kunal-kushwaha commented on #418
padhai pe dhyan do

[2021-11-06 14:39] #418 closed

[2021-11-10 03:58] jungly1 opened #426 "Gdhg"

[2021-11-13 10:22] #426 closed

[2021-11-15 15:04] RoshanMhatre opened #438 "String problem added twice in assignments"
The problem "Multiply Strings" is added twice in assignments.
I want to make it correct.

[2021-11-16 04:53] kunal-kushwaha commented on #438
make a PR

[2021-11-16 04:53] #438 closed

[2021-11-17 08:37] wizzenalum opened #445 "Inconsistent ordering of assignment and lectures"
ordering of assignments should match the ordering of lectures
### example
first assignment
[code]
and first lecture is
[code]
If the ordering of lecture matches the ordering of the assignments then it is little simpler for new users

[2021-11-17 14:31] alokVerma749 commented on #445
I made a PR regarding this issue,Please check it out

[2021-11-19 15:21] JishnuGoyal opened #459 "Deletion not possible for the last element of CLL (Circular linked list)"
### Steps to reproduce the error:
#### Notice that the last element couldn't be deleted.

public class Main {

    public static void main(String[] args) {
        CLL cll = new CLL();
        cll.insert(8);
        cll.insert(9);
        cll.insert(2);
        cll.display();
        cll.delete(9);
        cll.display();
        cll.delete(8);
        cll.display();
        cll.delete(2);

[2021-11-20 09:05] JishnuGoyal commented on #459
@kunal-kushwaha Hey could you merge this PR #460

[2021-11-20 09:43] shivamjaain opened #463 "Shivam assignment solution uploaded"
sir you forgot to merger my pull request

[2021-11-21 05:44] alokVerma749 commented on #463
It will get merged if it adds value to the repository, keep patience

[2021-11-21 07:24] #463 closed

[2021-11-21 09:01] shivammmmm opened #464 "Infinite Array will go out of bound when it has to search last element or any element which is greater than last element (ideally should return -1) with different set of array elems"

[2021-11-21 10:52] sarkartanmay393 commented on #464
Assign me this.

[2021-11-21 10:54] shivammmmm commented on #464
@sarkartanmay393 its not a bug, more discussion kind of thing

[2021-11-21 10:55] shivammmmm commented on #445
@alokVerma749 can you link that PR here for ref

[2021-11-25 18:17] #445 closed

[2021-11-25 18:17] #464 closed

[2021-11-25 18:17] #459 closed

[2021-11-25 18:19] shivammmmm commented on #464
@kunal-kushwaha you shouldn't close issues without explaining/clearing doubts if you have this repo open for teaching.

[2021-12-05 06:26] shivamjaain opened #499 "Pdf not opening"
DSA-Bootcamp-Java/lectures/04-introduction to java/Introduction_to_Java_Notes.pdf

This gives, again and again, a loading error.

Like this
Sorry, something went wrong. Reload?

[2021-12-05 06:40] ghulamrabbani883 commented on #499
Download the pdf on your local machine and then read, the only solutions I have found

[2021-12-06 03:34] kabir0x17 commented on #499
its working

[2021-12-06 11:45] #499 closed

[2021-12-13 16:11] khadeshyam opened #507 "Cant find DSA bootcamp notes"
Hey kunal I'm not able to find ur DSA boot camp NOTEs

[2021-12-13 21:18] knight-95 commented on #507
You can find the notes here https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/tree/main/lectures
Happy Learning !!

[2021-12-14 04:03] khadeshyam commented on #507
Thanks but I want handwritten notes and   assignments of Java DSA

[2021-12-14 14:00] coderdurgesh commented on #507
brother here itself you will find the written notes as well https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/tree/main/lectures

[2021-12-17 16:46] alokVerma749 commented on #507
which chapter notes/assignment do you want. Please share so that we can help.

[2021-12-20 15:56] Sidoryx commented on #507
Bro, you can find the handwritten notes in the following way for the respective topics (Lets say you want notes for Switch cases) then follow this path:
 DSA-Bootcamp-Java->lectures->06-conditions-loops->switch->Handwritten notes switch cases.pdf
(https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/tree/main/lectures/06-conditions-loops/switch)
Similarly you can find the handwritten notes for the

[2021-12-20 15:58] khadeshyam commented on #507
Tq

On Tue, 14 Dec, 2021, 7:30 pm coderdurgesh, ***@***.***>
wrote:

[2021-12-20 19:03] Shantanu-pawar opened #514 "plz i need guidance ,help me !"
hi, i m follow kunal bhaiyya since last one month for cracking off campus placements and now, i covered JAVA  and DSa , i know my starting very let but i come from tier 3 collage so there is no on campus placements arrived. can anyone give me proper roadmap to crack placements ????

[2021-12-21 05:50] deepakbhagat7 commented on #514
Hey Shantanu, First you need to understand that you can still go to a product-based company, for that pick a language master it, then do Data structure and algorithm in it, in beginning solve basic questions (recommendation for basic Hackerrank), then move towards leetcode and interviewbit, solve problems as much as you can, after that if you feel enough confident then participate in codechef"s co

[2021-12-21 13:28] Shantanu-pawar commented on #514
thanks man!

[2021-12-21 13:39] mayankkuamr001 commented on #507
I want notes of complexity lecture if anyone has please let me know

[2021-12-21 14:29] tRiXxf opened #516 "Where can i find solutions for the assignments?"
help me with the assignment solutions, not able to find some assignment solutions on the internet.

[2021-12-21 15:43] alokVerma749 commented on #516
YOU CAN FIND HERE : https://github.com/alokVerma749/DSA-Bootcamp-assignment-solutions

[2021-12-21 15:43] alokVerma749 commented on #516
YOU CAN FIND MORE HERE: https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/ASSIGNMENT_SOLUTIONS.md

[2021-12-21 15:48] alokVerma749 commented on #507
HERE IT IS: https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/lectures/15-complexity/basics_of_time_complexity.png

[2021-12-22 06:29] #516 closed

[2021-12-23 10:24] Deepa-chaurasiya01 commented on #507
@mayankkuamr001 you can refer to this if you want it's in detail
https://github.com/Deepa-chaurasiya01/DSA-Bootcamp-Java/tree/main/lectures/15-complexity

[2021-12-23 11:06] mayankkuamr001 commented on #507
Thank you 😊 @alokVerma749 @Deepa-chaurasiya01

[2021-12-28 17:56] adityajoshi304 commented on #507
Hi, you can find the handwritten file by clicking on the lectures/<lecture name> folder and then on the pdf that is provided. These are the notes which Kunal makes while making the lectures. I hope I could help. Thanks!
<img width="1369" alt="Screenshot 2021-12-28 at 11 24 01 PM" src="https://user-images.githubusercontent.com/88195829/147593711-0ea357f3-3d6e-49f3-a611-39cf3a6e9892.png">

[2021-12-30 06:43] #507 closed

[2022-01-02 14:31] Shoa29 commented on #55
Hey, I was just wondering what is the rate at which new videos are coming, because the content is awesome I wish to cover my whole DSA from this. But, my placements are also going on so how many topics in a month or week are being covered?

[2022-01-10 18:30] Mehedi2111 opened #550 "Java +dsa"

[2022-01-11 04:21] mayanktyagi1709 commented on #550
Please describe your issue.

[2022-01-11 06:27] #550 closed

[2022-01-11 06:37] Mehedi2111 commented on #550
Sorry my mistake
I am new user
I just want to save it my account
Sorry for that

[2022-01-21 18:38] kalashjain23 opened #573 "Addition of Two Numbers mentioned as an "Intermediate Java Problem" (assignments -> conditional loops)"
I am not sure if its by mistake or some other type of a question, but if it is by mistake we can shift it to the easy Java problems section.

[2022-01-21 19:15] kalashjain23 commented on #573
#574 here's my PR for this..

[2022-01-25 08:18] Mukulkumar456 opened #575 "Dsa"

[2022-01-25 08:23] Susmita-Dey commented on #575
Hey, what type of issue have you found? You haven't given any description.

[2022-01-25 09:12] #573 closed

[2022-01-26 08:08] aathi2002 commented on #55
DSA course is the one of the life changed course in my life and better to increase my problem solving skills and increase job assets
Thanks @kunal-kushwaha

[2022-01-31 15:11] SurajPratap10 opened #584 "Addition of some steps in CONTRIBUTION.md"
Kindly add these steps to **This Link** (https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/CONTRIBUTION.md)

. Check that your fork is the "origin" remote.

```git remote add origin URL_OF_FORK```

. Add the project repository as the "upstream" remote.

  ```git remote add upstream URL_OF_FORK```

[2022-02-01 06:22] #584 closed

[2022-02-07 03:35] lalithvaka opened #591 "Infinite array might throw index out of bounds exception"
This might throw an index out of bounds exception if you search any  element close towards the end of the array as the following

int [] arr = {1, 3, 5, 7, 8, 9, 10, 12, 15, 18};
int target = 12;

[code]
A brute force way is to add the following
[code]
https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/lectures/10-binary%20search/code/src/com/kunal/InfiniteArray.java

[2022-02-16 05:57] SridharSahu-1 opened #597 "Dsa"

[2022-02-16 05:58] #597 closed

[2022-02-17 15:38] iyeraparna commented on #591
One way to prevent this is to add the extra check of end<len(nums) in the while loop condition keeping everything else the same

Something like:
while end < len(nums) and target>nums[end]:
        start = end + 1
        sizeofBox = sizeofBox*2
        end = end + sizeofBox

[2022-02-19 08:11] kunal-kushwaha commented on #591
array is infinite so why care about out of bounds

[2022-02-19 08:11] #591 closed

[2022-02-27 18:46] MihirHundiwala opened #600 "Re-ordering of a medium difficulty problem in 06-Searching.md"
'Find Minimum in Rotated Sorted Array' in someway forms a base for the next question 'Search in Rotated Sorted Array'.

Current Order of Problems:
- [Search in Rotated Sorted Array](https://leetcode.com/problems/search-in-rotated-sorted-array/)
- [Search in Rotated Sorted Array II](https://leetcode.com/problems/search-in-rotated-sorted-array-ii/)
- [Find Minimum in Rotated Sorted Array](https://le

[2022-02-28 14:19] gaurangggaur commented on #600
I have made the required change. And created the pull request. Please let me know if it is accurate.

[2022-02-28 14:42] gaurangggaur commented on #600
Sorry, I forgot to ask to get assigned first. Took the help of someone else (who was about to leave) to make my first contribution.

[2022-03-04 14:26] AryanGodara commented on #600
I'll do this in 15 minutes.

[2022-03-05 11:30] MihirHundiwala commented on #600
Pull Request #601 has already solved this issue

[2022-03-05 11:30] #600 closed

[2022-03-07 20:03] akshatcoder-hash opened #610 "Revision Notes"

[2022-03-07 20:06] #610 closed

[2022-03-08 02:21] ritish1082 commented on #55
I cant find the syllabus.md in the above link. Please share if anyone has it

[2022-03-08 03:16] simratchehal113 commented on #55
He (K) deleted the file long back

[2022-03-09 07:40] moshema10 commented on #274
The link is not working. Can you please paste the syllabus progress tracker again? It would be helpful I was following to topic by topic to solve LC

[2022-03-21 19:13] dv0892 opened #616 "Quick Sort Code Implementation In-efficient"
Quick Sort requires selecting a pivot and partition the whole array around that So that array becomes
_Elements less than pivot < pivot < Elements greater than pivot_

Then the subsequent recursion calls never touch that pivot element again.
But the QuickSort.java at https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/tree/main/lectures/14-recursion/code/src/com/kunal/sorting doesn't seem to follo

[2022-03-23 11:20] tarunchoudhary1805 opened #617 "resume the DSA course"

[2022-03-26 11:01] karthik-thotamgari commented on #55
link isn't working can pls u reupload it

[2022-03-26 22:30] arijeetmukherjee44 commented on #55
Can I get the progress table shown in videos...as it has list of topics and subtopics..the link given is not working

[2022-03-27 06:45] Pratham-R commented on #617
+1

[2022-03-27 09:21] Deepak-du commented on #55
https://github.com/Deepak-du/DSA-Bootcamp-Java/blob/main/SYLLABUS.md

enjoy

[2022-03-28 09:26] utkarsh19977 commented on #617
resume it please complete this course kunal bhai

[2022-03-29 02:12] ketanAggarwal58 commented on #617
Kunal Bro please resume the DSA Course we are waiting for Trees and Graph, Dynamic Programming concepts

[2022-03-29 03:52] KartikeyDubeyKD commented on #617
+1

[2022-03-29 08:19] sakshamvedi opened #623 "This one is also a good question to add in array section of leetcode dsa bootcamp"
## 179 Largest Number
[Visit Question ](https://leetcode.com/problems/largest-number/)

[2022-03-30 09:43] dhruv1503 opened #626 "Syllabus tracker not available."
Hi Kunal, I'm trying to access DSA syllabus, but I'm unable to find it. Have you deleted it or is there any error?

[2022-04-02 07:31] bhagatpratik07 commented on #626
Syllabus is available on website:  https://www.commclassroom.org/java

[2022-04-03 16:26] alokVerma749 commented on #626
I made a PR related to this issue.
PR is #629

[2022-04-03 16:41] alokVerma749 commented on #623
I made a PR regarding this issue
PR is #631

[2022-04-07 06:50] soumyo2002 commented on #617
+1

[2022-04-08 06:08] AswinBarath commented on #617
+1

[2022-04-09 05:41] ABD07xx commented on #617
+1

[2022-04-13 06:41] hardikc commented on #152
Hey kunal can you please put all the solutions for your given assignment it would be a great help.

[2022-04-15 09:33] sjaved832 opened #634 "DSA"

[2022-04-17 14:02] La1sya commented on #617
+1

[2022-04-18 23:36] MohammedJafar72 opened #638 "DSA course"
Why did you stopped making videos on DSA you are the only one teacher on YouTube that can teach java and dsa in very simple way. Please continue and don't leave us in the middle of the sea.

[2022-04-19 07:28] CdrRjt commented on #152
can anyone  please provide with the solution of time complexity's assignment.

[2022-04-20 05:50] harishraja1217 commented on #617
+1

[2022-04-21 16:03] rishabh417 opened #640 "Resume DSA course"
its being months since you uploaded your last video
Kindly continue it..

[2022-04-21 17:55] Gurpreet-Saini commented on #640
Yess please continue it

[2022-04-22 09:57] YashParmar0001 opened #641 "Guys can anyone tell me where can I found the notes??"
Not able to find notes of DSA on repo.

[2022-04-22 17:51] ghulamrabbani883 commented on #641
https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/tree/main/lectures

Go to above link, all notes are available topic wise

[2022-04-22 17:52] ghulamrabbani883 commented on #640
Yess please continue it

[2022-04-24 03:38] Sujansinh-thakor commented on #626
you find that in another branch : https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/kunal-kushwaha-patch-1/SYLLABUS.md

[2022-04-25 04:30] alokVerma749 commented on #626
PR #627 is related to this issue.
The syllabus tracker will be there as soon as this PR gets merged.

[2022-04-25 04:32] alokVerma749 commented on #641
I made a PR related to this issue,
PR: #629

[2022-04-25 04:33] alokVerma749 commented on #641
you can visit this link for various notes:
https://github.com/alokVerma749/DSA-Bootcamp-Java/blob/patch3/NOTES.md

[2022-04-25 08:24] Vishu057 opened #643 "Fav"

[2022-04-28 16:08] #616 closed

[2022-04-28 16:08] #617 closed

[2022-04-28 16:08] #623 closed

[2022-04-28 16:08] #626 closed

[2022-04-28 16:08] #638 closed

[2022-04-28 16:08] #640 closed

[2022-05-01 18:50] samyakjain1014 opened #644 "Practice"

[2022-05-05 09:52] oseamiya opened #645 "ArrayIndexOutOfBoundsException in BinarySearch >> InfiniteArray"
In <a href="https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/lectures/10-binary%20search/code/src/com/kunal/InfiniteArray.java"> this code </a> of Infinite Array from BinarySearch lecture,

When we try to get target element more than half size of the array (like 100 or 130), it will throw ArrayIndexOutOfBoundsException like :
[code]
It is because `end` variable in `ans` method crosses

[2022-05-12 07:41] brawlon commented on #645
I had the same doubt but apparently
<img width="940" alt="Screenshot 2022-05-12 at 1 09 49 PM" src="https://user-images.githubusercontent.com/27919652/168017965-412374c9-f68a-44b5-a9ff-845b46625e06.png">
So yes, we do not consider this a bug as we are imagining an infinite array with no limit of the elements

[2022-05-12 07:42] brawlon commented on #645
You can check PR #565

[2022-05-14 03:40] sanjeeban5644 commented on #644
HI! I am new to Open Source. There is no description as to what is the issue is about. Can you guide me?

[2022-05-31 05:32] #644 closed

[2022-06-08 05:31] Pavan09-swe opened #663 "can't find the notes of OOPS (java DSA course)"
I search for it,
I can only see the notes that you have explained in the video.
As you mentioned in the video  (Notes you have written) please update it
if it already exists please drop the link

-- regards pavan

[2022-06-09 09:14] devilkiller-ag opened #668 "Can't calculate p whule solving T(n) = 7T(n/2) + n². Can you please provide solutions to the questions given for complexity problems."

[2022-06-10 11:24] wre9-tesh commented on #668
u can use discord channel for doubts .

for ur problem ....

we have,

a1= 7
b1 =1/2

we know ,
a1b1^p =1

=>7(1/2)^p =1
=>7 = 2^P

taking log

log 7 = p(log  2)

=> p = log 7 /log 2
=> p =2.8 (approx)

[2022-06-11 16:48] sanjeeban5644 opened #672 "Typo in interface.txt"
## The Issue

https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/lectures/17-oop/notes/interface.txt
![image](https://user-images.githubusercontent.com/94889532/173196832-3924dcc4-1757-436d-8244-7fb22e87aa54.png)

## Expected Behaviour

`then the overridden method`

[2022-06-18 02:35] ayushnandanwar08 opened #679 "Where to find syllabus copy"
In the video of how I cleared my google interview, You show the syllabus. where it is

[2022-06-18 08:01] vatsalchheda commented on #679
Check the "Readme.md" File, it has a link to the syllabus. Which is present here when you scroll down: https://www.commclassroom.org/java

[2022-06-18 08:20] ayushnandanwar08 commented on #679
https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/SYLLABUS.md
This is what I want

[2022-06-18 17:01] KartikeyDubeyKD opened #681 "Please continue DSA course"
Sir, @kunal-kushwaha  you said you will be resuming the course in June, I know you have a job and you are a busy person but at the start of the course, you said you would finish this course in 3 months. Please resume this course 🙏🙏🙏🙏🙏🙏🙏

[2022-06-19 10:40] DivSriv commented on #679
# Progress Tracker

## DSA
- [ ] Complete Git & GitHub Course
- [ ] Introduction to Programming
  - - [ ] Types of languages
  - - [ ] Memory management
- [ ] Flow of the program
  - - [ ] Flowcharts
  - - [ ] Pseudocode
- [ ] Introduction to Java
  - - [ ] Introduction
  - - [ ] How it works
  - - [ ] Setup Installation
  - - [ ] Input and Output in Java
  - - [ ] Conditionals & Loops in Java

[2022-06-19 15:50] #679 closed

[2022-06-20 11:04] nesarptr commented on #645
Since this is an infinite array there is no chance of getting an exception like this, if you still get it, that means the array has a limit and it is not an infinite array :)

[2022-06-21 06:07] #681 closed

[2022-06-23 12:32] HARSHMORE093 commented on #663
https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/tree/main/lectures/17-oop/notes

[2022-06-23 15:38] Manish-Rawat-1186 commented on #672
i would like to do .

[2022-06-27 01:44] srinu217217 opened #685 "about incomplete dsa course"
please complete that courseeee

[2022-06-28 02:36] 0-0Rohit-Roshan commented on #685
Are you (@srinu217217 ) in too much hurry?

[2022-06-28 14:36] bjrshussain commented on #685
I am waiting for the Dynamic programming videos.

[2022-06-28 22:17] t-el commented on #685
we need the rest

[2022-06-29 02:13] pankajkcodes commented on #685
I am waiting for the Dynamic programming videos.

[2022-06-29 02:33] bjrshussain commented on #685
Kunal Bhai jaldi agay Inteviews arahe summers hain ab.

[2022-06-29 18:42] Manish-Rawat-1186 commented on #685
aap thoda filhaal khud se pad lo like blog ya other source se jab kunaal bhai video dalega tab revise kar lena .

[2022-06-29 19:14] bjrshussain commented on #685
Bhai kunal dant kar padata he warna maine nae seekhna

[2022-06-30 12:37] Manish-Rawat-1186 commented on #685
Be mature, don't depend completely on someone ..

[2022-07-01 05:32] NaveenGokavarapu19 commented on #685
@bjrshussain  @pankajkcodes Hey there kunal is not omniscient. I think he has a plan. Please be patient.

[2022-07-02 10:49] shubhankarsharma876 commented on #663
I forked this repo so I am having the older versions of this file you can use it to access the notes...
[Link to my copy https://github.com/shubhankarsharma876/DSA-Bootcamp-Java/blob/SideBranch/NOTES.md](https://github.com/shubhankarsharma876/DSA-Bootcamp-Java/blob/SideBranch/NOTES.md)

Happy Coding

[2022-07-06 06:54] shadow0500 opened #690 "Hi kunal ,"
I am from commerce background so I found it little bit difficult. Will you please help me out.

[2022-07-06 16:38] Amomynus commented on #690
@shadow0500 where do you need help?

[2022-07-06 18:40] shadow0500 commented on #690
Actually the thing is that I tried really hard but I am not getting why I am not able to solve problems 😞

[2022-07-07 03:40] SiddharthSinghTanwar commented on #690
Building Logic takes time. First, practice the fundamentals properly by solving assignment questions. Try to identify the part where you are struggling and work on those areas by solving questions involving those concepts. Please make a list of problems you are solving and how you are solving them. You can watch the video on how to use Leetcode effectively or how he cleared his Google interviews.

[2022-07-07 06:46] shadow0500 commented on #690
Bro I can understand but the thing is when I watched the videos I am able to understand those concept but when it comes to implementation, I stuck at that point. I am not able that how to approach those problems.

[2022-07-07 16:00] Shoaib5999 commented on #663
there is no hand written notes for this topic and that's sad part

[2022-07-16 09:09] tausiq2003 commented on #685
learn from dinesh varyani or anuj bhaiya

[2022-07-18 14:35] Shantanu2442 commented on #690
@shadow0500 Do one thing take a white board and draw the code, like the control, the out put and watch where the program is going and why is it doing what it is doing. Actively recall and associate concepts with your life.

[2022-07-19 08:19] HimanshuJakhmola356 opened #694 "complete DSA course buddy"
i am following that path , and worrying about not geting the same type of teaching and explination anywhere so please complete the course you hangon stack and queues littreally its a good gap but now you must Continue ,and i also email you regarding this but didn't get reply..

[2022-07-19 17:18] kelvinparmar commented on #672
Hi , I am kelvin
I want to fix this typo
should you give me chance?

[2022-07-22 09:54] AmanJain-1 commented on #663
Here is the Complete OOPS notes using Kunal's videos only
Every single topic is covered with examples
https://drive.google.com/file/d/1lfufu3UbF_Oj_rK2BRMY3HOo4gYQU8xO/view?usp=sharing

[2022-07-23 16:46] lubnafathima commented on #694
Wait so this course isn't completed?
My placements are starting soon
will this course be suitable then?

[2022-07-23 16:49] lubnafathima commented on #690
Hey same her
btw how am I supposed to do the assignment
are we supposed to submit it or something like that?
as a public learning

[2022-07-23 17:36] Akshatvyas05 commented on #663
@AmanJain-1 can u please share your notes for other topics as well

[2022-07-24 07:07] ShashankRoy27 commented on #694
No, not suitable if it isn't complete. What you can do however, is do the
topics that are taught by Kunal from his DSA playlist and the other topics
from other platforms like GFG, any YouTube channel or even the NADOS
website of Pepcoding.

On Sat, 23 Jul 2022 at 22:16, Lubna Fathima N ***@***.***>
wrote:

[2022-07-24 12:49] shadow0500 commented on #690
No u don't need to submit it . All the assignment is for ur own practice.

[2022-07-25 15:05] debasishbsws opened #705 "Broken link in assignment/07-sorting.md"
"**Array Partition I**" doesn't exist anymore in Leatcode, the name, and link of that question hs been changed.
Now it is called "**Array Partition**" and the link is `https://leetcode.com/problems/array-partition/`.

[2022-07-25 15:08] debasishbsws commented on #705
I am making a PR to fix this

[2022-07-29 13:51] suraj-996 commented on #694
Just do whatever he has taught already and solve questions related to that topic on leetcode as much as you can by doing that you will build more confidence on that and when he will start again teaching then you can follow him or you can learn from other platform also.

[2022-07-29 16:08] mrChetri commented on #663
Where is oop hand written clean 📝📝notes???

[2022-07-29 19:28] lubnafathima commented on #694
That's the plan!
Thank you 😀

[2022-08-01 11:34] sanmeetpatil19 opened #712 "Java+DSA"

[2022-08-02 12:27] devniet opened #713 "DSA"

[2022-08-02 12:27] #713 closed

[2022-08-04 11:12] sonustar commented on #694
Just follow what he taught and practice as much as you can...

[2022-08-04 16:23] lubnafathima commented on #694
Will Do!
Thank you

[2022-08-05 21:22] ankur-lakhmara commented on #55
https://github.com/ankur-lakhmara/DSA-Bootcamp-Java/blob/main/SYLLABUS.md click here to access the syllabus file

[2022-08-06 06:33] abhijithpk2 opened #716 "Repeatative Question"
In pattern questions 19th and 29th are same question.

[2022-08-07 04:52] shubham-kshetre commented on #716
Hello there! I would like to solve this problem. We can replace the 29th pattern with another one or we can remove it.

[2022-08-11 09:52] lubnafathima opened #723 "connect aggisnments to leetcode"
If the assignments are from leetcode, wouldn't it be great, if you could link the assignment with leetcode question?
So that we can directly do the assignments in leetcode?
(I'm just starting out so not sure if there is a way to find these assignment in leetcode)

[2022-08-11 10:55] #723 closed

[2022-08-11 11:01] lubnafathima commented on #723
I just watched Kunal's **' How I Cleared My Google Interviews - Use LeetCode Effectively!'**
which I should have watched earlier...
Where Kunal says us to solve assignment sums and then go to leetcode and find the sums related to that topic
### eg: if I'm at Array
**then finish the assignment questions
go to leetcode -> 'problem' tab -> search for array -> solve easy questions**

[2022-08-12 05:28] devsunil24 commented on #55
Hey Kunal, the page is not found.Can you repost it

[2022-08-12 13:17] bonysureliya opened #726 "Two Sum II is Medium Level Question and it is in the list of easy questions"
Leetcode Problem 167. Two Sum II in sorted array is Medium level Question and it is in the list of easy questions

[2022-08-19 11:03] deep1910 opened #737 "problem Count Zero cannot count number of zero's if whole number is zero like 00000 or 0"
try to give a solution which  involves counting number of zero in number such as 0000 or 0

[2022-08-20 10:53] kapilepatel commented on #712
Seems like an issue created by mistake, this should be closed. @sanmeetpatil19

[2022-08-20 10:54] kapilepatel commented on #712
@kunal-kushwaha Please close this issue.

[2022-08-20 11:04] kapilepatel commented on #726
@bonysureliya similar issue is with "[Peak Index in a Mountain Array](https://leetcode.com/problems/peak-index-in-a-mountain-array/)" in Easy section.
Let's ask @kunal-kushwaha if we need to exactly follow Easy/Medium/Hard problem definition from Leetcode or we should follow our own definition because many a times, on Leetcode similar problem might have Easy vs Medium tagging.

@kunal-kushwaha as

[2022-08-20 11:08] kapilepatel commented on #690
@shadow0500  Seems like your problem was answered, can you close this issue?

[2022-08-20 11:10] kapilepatel commented on #685
@srinu217217 I believe your question was answered, can you close the issue?

[2022-08-20 11:10] kapilepatel commented on #694
@HimanshuJakhmola356  I believe your question was answered, can you close the issue?

[2022-08-20 11:12] kapilepatel commented on #672
@Manish-Rawat-1186 @kelvinparmar  this is already done by @sanjeeban5644 but the PR is not approved as of yet.

[2022-08-20 11:17] #712 closed

[2022-08-20 11:18] kapilepatel commented on #668
@devilkiller-ag if the problem is solved, let's close the issue.

[2022-08-20 11:20] kapilepatel commented on #663
@Pavan09-swe  was your query answered? You can use Discord channel for quicker response. If you are satisfied with the replies, please close the issue.

[2022-08-20 11:32] bonysureliya commented on #726
Sure and thanks for the info

[2022-08-20 11:34] devilkiller-ag commented on #668
Sure Sir. Thank you 😄

[2022-08-20 11:34] #668 closed

[2022-08-23 03:23] kapilepatel commented on #712
Thanks @sanmeetpatil19

[2022-08-26 17:41] prankurnov15 commented on #690
@shadow0500 follow this approach in development/coding

- Break the problem in sub problems
- if its not enough break sub problems into nano problems
- try to fit sub problems into mathematical equations
- solve those equations and merge all sub problems
- that's it .

Development and solving DSA problems both are different but this approach can be applied and this is the same approach I follow in

[2022-08-27 05:07] Manda-supraja26 commented on #737
can i work on this

[2022-08-30 06:53] atha2810 commented on #645
it will work when array is infinite

[2022-08-31 11:47] amanmulla1 opened #758 "Java DSA"

[2022-08-31 11:49] #758 closed

[2022-08-31 15:51] skzaffarekbal commented on #55
Where can I see the syllabus process tracker lists @kunal-kushwaha ?

[2022-09-01 06:43] yaswanth6610 opened #759 "I am unable to watch Syllabus Progress Tracker!"

[2022-09-01 16:18] DivSriv commented on #759
You can either fork the below repo or copy from there, it is the Syllabus Progress Tracker markdown which Kunal shared in the start of his DSA tutorials.
[https://github.com/DivSriv/Armageddon](url)

[2022-09-05 14:32] priyansh2998 commented on #690
btw how am I supposed to do the assignment
are we supposed to submit it or something like that?
as a public learning

for now you don't need to submit it , starting from array u can submit assignments on your Leetcode profile itself

[2022-09-07 09:53] Princek22 opened #764 "Assignment, 09-pattern, question no. 23."
Can somebody help me to know whether the pattern in Q23 is depeded on intput (n) or is a fixed pattern that we have to print.

[2022-09-08 16:25] NaveenGokavarapu19 commented on #764
hii princek22 i think this question should be asked in discord instead of github.

[2022-09-09 09:19] spriya2236 commented on #55
https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/issues/679#issuecomment-1159684931

[2022-09-09 13:51] Princek22 commented on #764
well, now that i think about it. you are 100% correct. thumps up.

[2022-09-09 13:51] #764 closed

[2022-09-10 08:47] Aditya-Jaiswal0 commented on #694
It would be nice if you can show his tweet.

[2022-09-14 18:38] Imraghu117 opened #769 "Solutions"
Can any one provide the solutions of these assignment questions ?

[2022-09-17 16:52] PradeepRaoK commented on #769
You can find solutions in leetcode discussions.

[2022-09-18 16:44] Shristy-Gupta opened #776 "https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/SYLLABUS.md"
This link is not opening :( Please help!

[2022-09-18 16:44] Shristy-Gupta commented on #776
https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/blob/main/SYLLABUS.md

[2022-09-19 02:53] abhisehk-dev opened #778 "Subsequence-> How can I skip strings "Apple" and "apple" ? Please help."
DSA-Bootcamp-Java/lectures/14-recursion/code/src/com/kunal/strings/SubSeq.java
 in this code, if we run using the string "bacApple" it will not skip the "Apple" because of the uppercase of apple, how do I skip that using the same code?

[2022-09-19 20:56] Sanketsingh77 commented on #769
could you provide the link for that please. it would really help

[2022-09-20 02:23] gokul-srinath commented on #776
refer https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/issues/679

[2022-09-20 03:09] Mohammed-Saif0 commented on #769
![IMG_20220920_083523](https://user-images.githubusercontent.com/99530963/191158415-521f30cf-5457-43c6-a2da-2dac9eec109b.jpg)

Just go into the discussion section of the question you will be able to see lot of people discussion the optimal solution.

[2022-09-24 11:55] flickerbot opened #781 "BUG IN ARRAY INFINITE LOOP PROBLEM"
lectures/10-binary search/code/src/com/kunal/InfiniteArray.java

HEY I HAVE AN QUERY IF WE SEARCH FOR AN ELEMENT THAT ISN'T PRESENT IN THE ININITE ARRAY WHICH ACCORDING TO THE PROBLEM CAN (BECAUSE ITS NOT STATED THE ELEMENT WILL BE PRESENT ) ,ITS SHOWING  ARRAY OUT OF BOUND INDEX EXCEPTION ! SO MAYBE YOU CAN UPDATE THE CODE AND CHECK BEFORE CALLING THE BINARY SEARCH THAT IF THE ELEMENT IS NOT FOUN

[2022-09-24 15:11] kelvinparmar commented on #672
Anyone working in this issue?

[2022-09-25 08:50] Devanshjain2110 commented on #781
@flickerbot
In the lecture while explaining he has assumed that we have been given an array that is infinitely sorted and that target is present in the array. Also, he hasn't done exactly according to the question, as in the question an array was taken. His logic is correct according to his video and the direct answer for the question that was asked with array assumed is there on the gfg site. So,

[2022-09-25 13:37] Mohammed-Saif0 commented on #769
Hey it will be great if you close this issue

[2022-09-25 14:52] Srajan-Bansal opened #783 "Link of Array Partition I question is not working"
In assignments/07-sorting.md   Array Partition I   is Not working

[ https://leetcode.com/problems/array-partition-i/ ](url)

[2022-09-26 13:36] #781 closed

[2022-09-27 12:45] PradeepRaoK opened #786 "Sudoku Solver hard question present in list of medium questions"
Sudoku Solver hard question is present in list of medium question in recursion assignments section.

[2022-09-27 17:37] Aryanshrana opened #788 "please add trees and graph tutorials"

[2022-09-27 19:30] manishrane1999 opened #789 "Plese open code bro"

[2022-09-28 20:20] Ayaz-Mohammed-Khan opened #790 "Notes given show unable to render and not even able to download them please fix this."

[2022-09-29 15:46] mohit1607 opened #792 "Link is not directing to the question. assignments>Sorting>ArrayPartition-I"
# Link to the leetcode question gives Page not found

- Either the link should refer to the same question on GFG( geeks for geeks) or any other relevant resource.
- Or It can be removed.

[2022-09-29 16:27] OmkarBorhade98 commented on #792
@mohit1607 I think it should refer to Array Partition problem on leetcode instead of Array Partition I.

[2022-09-30 09:36] Vishalchandravanshi8463 commented on #789
bro I have not found DSA notes anywhere.

[2022-10-02 09:51] #769 closed

[2022-10-04 11:27] AdityaVardhanSingh commented on #789
For code, you can browse to-DSA-Bootcamp-Java/lectures/17-oop/code/src/com/kunal/introduction/Main.java
And for notes, there are some handwritten notes for some lectures and some text files in the notes folder for instance oops lecture 1 text file can be found through:DSA-Bootcamp-Java/lectures/17-oop/notes/classes.txt

[2022-10-05 04:53] SensationalShubham commented on #694
He still didn't even upload 1 single video.

[2022-10-05 04:54] SensationalShubham commented on #790
yeah, please do something about it. I'm not able to access the notes.

[2022-10-11 05:13] asdsyd commented on #790
You can access the notes in the lectures folder of this repo.
![Screenshot 2022-10-11 at 10 42 10 AM](https://user-images.githubusercontent.com/77977076/195002499-75b612b1-0596-4eba-9b56-f8c1aaa3b969.png)

[2022-10-11 05:15] asdsyd commented on #790
Notes are accessible and up for download. Please close this issue. Thanks.

[2022-10-11 05:17] asdsyd commented on #789
This issue can be closed. Thank you.

[2022-10-11 05:24] asdsyd commented on #783
This issue fix has an awaiting PR to be merged in #793
#792 is same as this issue. Thank you.

[2022-10-11 07:50] Imraghu117 commented on #769
Thanks a lot , i appreciate this.

On Tue, Sep 20, 2022 at 8:39 AM Mohammed Saif ***@***.***>
wrote:

[2022-10-14 12:10] Srajan-Bansal opened #801 "Min Stack Medium question is present in Easy list"
- [Min Stack](https://leetcode.com/problems/min-stack/) `leetcode` question is in Easy section in 16-stack-queue.md

[2022-10-18 08:35] bhavesh100 opened #805 "Time complexity and space complexity assignment questions answers"
In the assignment of time and space complexity answers are not given. How we recheck our answer. Please give full solution of recurrence relation questions

[2022-10-19 05:35] kapilepatel commented on #672
https://github.com/kunal-kushwaha/DSA-Bootcamp-Java/pull/673 approve this.

[2022-10-20 13:28] me-imfhd opened #808 "Github"
Github

[2022-10-22 15:41] gokulgajapathi opened #809 "Early binding notes?"

[2022-10-22 15:41] gokulgajapathi opened #810 "Early binding notes?"

[2022-10-22 15:43] #809 closed

[2022-10-22 15:49] gokulgajapathi commented on #55
yes !

[2022-10-27 14:19] pritampauljpg commented on #663
Kunal brother has mentioned in his videos that he will provide all the notes, is he deleted the file?

[2022-10-29 06:57] iamwatchdogs commented on #805
If you're asking about the leetcode questions, You can check out the answers in the discussion tab. And if you're still not satisfied with the answers present in it, then you'll have 3 options:

- Try Googling it.

- Check the solution on YouTube.

- **As a last option**, Get help from the people in the community (or) the people who have already solved these types of problems.

I hope you have fou

[2022-10-29 07:02] iamwatchdogs commented on #788
Kunal is currently busy but don't worry he will be updating us with newer tutorials, as he will be starting recording videos from Nov11 2022.

Source: [Twitter](https://twitter.com/kunalstwt/status/1585540308833632262 "view the twitter post")

[2022-11-01 17:36] jaydeeppal518 commented on #55
Your code tracker is not available, please  update it thnku

[2022-11-02 13:13] md-abid-hussain opened #816 "Syllabus and website link is broken"
Community classroom website link is not updated.
### Error
![Screenshot (8)](https://user-images.githubusercontent.com/101964499/199498586-a44b1c27-610c-4915-bb90-f640bfbf2ab3.png)

[2022-11-02 16:56] MuizU commented on #816
I am having issues accessing the site as well

[2022-11-04 09:27] me-imfhd opened #818 "# Progress Tracker"
# Progress Tracker

## DSA
- [ ] Complete Git & GitHub Course
- [ ] Introduction to Programming
  - - [ ] Types of languages
  - - [ ] Memory management
- [ ] Flow of the program
  - - [ ] Flowcharts
  - - [ ] Pseudocode
- [ ] Introduction to Java
  - - [ ] Introduction
  - - [ ] How it works
  - - [ ] Setup Installation
  - - [ ] Input and Output in Java
  - - [ ] Conditionals & Loops in Java

[2022-11-04 11:35] rishiraj88 commented on #818
Gratitude to all contributors... always! I am proud to be a member here. And, promise to assess the present state and add further value here.

[2022-11-10 13:36] PradeepRaoK opened #823 "Medium question in easy section"
![image](https://user-images.githubusercontent.com/88186518/201105917-9ce1b0c1-12e1-4605-ab05-70a9a6dca5cc.png)

[2022-11-13 18:51] nasiina commented on #663
i was looking notes for many timees but your comments helped me guys!! thank you

[2022-11-17 09:38] rim0banerjee opened #827 "# Progress Tracker"
# Progress Tracker

## DSA
- [ ] Complete Git & GitHub Course
- [ ] Introduction to Programming
  - - [ ] Types of languages
  - - [ ] Memory management
- [ ] Flow of the program
  - - [ ] Flowcharts
  - - [ ] Pseudocode
- [ ] Introduction to Java
  - - [ ] Introduction
  - - [ ] How it works
  - - [ ] Setup Installation
  - - [ ] Input and Output in Java
  - - [ ] Conditionals & Loops in Java

[2022-11-17 11:32] irankupofficial commented on #827
bro i'm new to github don't know how to create a progress tracker like this for me?? help me?

[2022-11-17 11:39] irankupofficial opened #828 "# Progress Tracker"

[2022-11-17 11:40] #828 closed

[2022-11-19 20:18] Azathoth-11 commented on #827
do you have the raw of the progress tracker?

[2022-11-20 17:12] sudhanshu-raj opened #831 "Dsa rock"

[2022-11-20 17:12] #831 closed

[2022-11-20 19:22] dappdavid commented on #827
Click on "Quote reply" in the top right corner and copy the contents.

[2022-11-21 05:51] rim0banerjee commented on #827
Just create a new issue and don't close it.

[2022-11-21 11:24] XprabhatX opened #832 "# My Progress"

[2022-11-21 12:04] DivSriv commented on #827
I'll suggest to have these trackers in your own repositories because whenever Kunal (owner of the repo) thinks these issues are not useful (and actually these are useful on personal level only) , these issues could be closed/deleted.

You can simply fork the below repo or copy it, it is the Syllabus Progress Tracker markdown which Kunal shared in the start of his DSA tutorials.
https://github.com/

[2022-11-21 18:14] JHBlack opened #835 "Link to the Course Website Broken"
I tried visiting the classroom website and the server IP address could not be found.

[2022-11-22 13:12] Charan-bavaji commented on #835
Even i tried many times.. communityClassroom web is not working

[2022-11-23 18:36] Azathoth-11 commented on #827
thank you. Got it

[2022-11-24 04:43] Manvith-Shetty opened #837 "Studying"

[2022-11-24 04:44] #837 closed

[2022-11-24 14:09] soniyaprasad77 commented on #835
yea that's true.

[2022-11-25 13:39] aaparikh commented on #835
Please look into this

[2022-11-30 19:26] sidssmv opened #840 "progress"
#Progress

- [ ] Complete Git & GitHub Course
- [ ] Introduction to Programming
  - - [ ] Types of languages
  - - [ ] Memory management
- [ ] Flow of the program
  - - [ ] Flowcharts
  - - [ ] Pseudocode
- [ ] Introduction to Java
  - - [ ] Introduction
  - - [ ] How it works
  - - [ ] Setup Installation
  - - [ ] Input and Output in Java
  - - [ ] Conditionals & Loops in Java
    - - [ ] if else